@layer base {

    * {
        text-underline-offset: .25rem;
    }

    .page-content {
        :where(h1, h2, h3, h4, h5, h6, p, ol, ul, dl,  dd, blockquote) {
            margin-bottom: 1rem;
            line-height: 1.6;
        }

        :where(h1, h2, h3, h4, h5, h6) {
            font-weight: var(--font-weight-semibold);
        }

        h1 {
            font-size: var(--text-2xl);
        }
        
        h2 {
            font-size: var(--text-xl);
        }
        
        h3 {
            font-size: var(--text-lg);
        }
        
        h5 {
            font-size: var(--text-sm);
        }

        hr {
            margin-block: 2rem;
            border-color: var(--color-muted);
        }

        :where(ul, ol) {
            padding-left: 1rem;

            li {
                margin-top: 1rem;
            }
        }

        ul {
            list-style-type: disc;
        }

        ol {
            list-style-type: decimal;
        }

        a {
            color: var(--color-muted);
            text-decoration: underline;

            &:is(:hover, :focus-visible) {
                color: var(--color-body);
            }
        }
    }
}